 <div>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-dark text-muted">
       
      <div class="col-md-6">
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Advantage Card</a></p>
       </div>
         
    </nav>
  </header>
   <body class="container">
    <router-outlet></router-outlet>
    </body>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2020-2021</span> 
      </div>
    </footer>
 </div>
   