 
html{
  height: 100%
}


header {
  height: 50px;
}

 
footer {

  height: 20px;
  
}

 

.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;

    padding: 1em;
    max-width:90%;
    flex :1;
    width:99%;
    margin: auto;
    /*

     background-color:aquamarine;

     */

}